arrow==0.10.0
astroid==1.5.3
backports.functools-lru-cache==1.4
certifi==2022.12.7
chardet==3.0.4
clique==1.5.0
colorama==0.3.9
colour==0.1.4
configparser==3.5.0
enum34==1.1.6
ftrack-python-api==1.3.2
google-api-python-client==1.6.4
httplib2==0.19.0
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
oauth2client==4.1.2
py==1.10.0
pyasn1==0.3.6
pyasn1-modules==0.1.4
pylint==1.7.2
pyparsing==2.2.0
pytest==3.2.2
python-dateutil==2.6.1
requests==2.20.0
rsa==4.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.11.0
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.24.2
websocket-client==0.44.0
wrapt==1.10.11
